<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignments</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<nav>
    <div class="container nav-wrapper">
        <a href="/" class="brand-logo">Module 4 Practice Exercise</a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text">Question 1</span>
                    <p>document.getElementById("demo").innerHTML = "Something"</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text">Question 2</span>
                    <ul>
                        <li>The function bigImg() is triggered when the user moves the mouse pointer over the image.
                        </li>
                        <li>The function normalImg() is triggered when the mouse pointer is moved out of the image.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text">Question 3</span>
                    <p>
                        It will display the the simley image.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text">Question 4</span>
                    <p id="demo"></p>
                    <html>
                    <body>
                    <button onclick="work()"> HTML input element dynamically in a Web Document</button>
                    <script>
                        function work() {
                            var p = document.createElement('p');
                            p.textContent = "New Input elements!!!";
                            document.getElementById("demo").innerHTML += p.textContent;
                        }
                    </script>
                    </body>
                    </html>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text">Question 5</span>
                    <form action="#">
                        <label for="first name">First name: </label>
                        <input type="text" id="first name" name="first name"><br><br>
                        <label for="Middle name">Middle name: </label>
                        <input type="text" id="Middle name" name="Middle name"><br><br>
                        <label for="last name">Last name: </label>
                        <input type="text" id="last name" name="last name"><br><br>
                        <label for="Address">Address: </label>
                        <input type="text" id="Address" name="Address"><br><br>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text">Question 6</span>

                    <textarea class="card-title yellow-text">
                        <p id="remove">Test</p>
                        <script>
                            function remove_focus() {
                                document.getElementById("remove").blur();
                            }
                        </script>
                    </textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text">Question 7</span>
                    <textarea class="yellow-text" name="" id="" cols="30" rows="10">
                        var <array-name> = [value1, value2, value3,... valueN];
                    </textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text">Question 8</span>
                    <textarea class="white-text">
                        window.addEventListener("XXXXX",function(){
                            document.getElementById("demo").innerHTML=“Window Changed”;
                        });
                        XXXXX = bigImg( ) Function is used.

                        window.addEventListener("bigImg()",function(){
                            document.getElementById("demo").innerHTML=“Window Changed”;
                        });
                    </textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text">Question 10</span>
                    <p>
                        <button name="button" value="OK" type="button">Button</button>
                        <script>
                            function hello() {
                                alert("hello world");
                            }
                        </script>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text">Question 11</span>
                    <ul>
                        var elmnt = document.getElementsByTagName("H1")[0];
                        elmnt.className
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text">Question 12</span>
                    <button onclick="myFunction()" id="myBtn">Try it</button>
                    <p id="display"></p>
                    <script>
                        function myFunction() {
                            let x = document.getElementById("myBtn").innerHTML;
                            document.getElementById("display").innerHTML = x;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text">Question 13</span>
                    <ul>
                        var elmnt = document.getElementById("content");
                        elmnt.scrollIntoView();
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text">Question 14</span>
                    <textarea class="white-text">
                        <h3 id="demo1">This is a demonstration.</h3>
                    <script>
                        document.getElementById("demo1").innerHTML = "my text";
                    </script>
                    </textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text">Question 15</span>
                    <textarea class="white-text">
                        <script>
                            document.getElementById("demo").style.color = "green";
                        </script
                    </textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text">Question 16</span>
                    <p>document.getElementById("demo").onmouseover = myFunction;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text">Question 17</span>
                    <ul>
                        Event name is change when an element content changed it can call a function:
                        document.getElementById("demo").addEventListener('change', myFunction);
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text">Question 18</span>
                    <textarea class="white-text">
                        Event name is mouseover it will call a function when mouse move on top of element.
                        document.getElementById("demo").addEventListener("mouseover",myFunction);
                    </textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text">Question 19</span>
                    <p>window.open("url");</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title yellow-text">Question 20</span>
                    // when user click on a element it, the text of element wil be changed //

                    <p onclick="changeText(this)">Click on this text!</p>

                    <script>

                        function changeText(element) {

                            element.innerHTML = "Changed";

                        }

                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>